@model WSClass.API.Models.Notifications

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notifications</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
